.IssueItem {
  margin: 10px auto;
  text-align: center;
  width: fit-content;
}

.IssueItem-content {
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: fit-content;
  border-left: 1px solid #000;
}