.IssueItem {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.IssueItem-content {
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: fit-content;
  border-left: 1px solid #000;
}